{{ form_start(form, {'method': 'POST'}) }}

{{form_widget(form) }}
    <button class="btn btn-sm btn-success" style="margin-bottom: 1rem;">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
